<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" routerLink='home'>Smart News</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" routerLink='/home'>Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink='/AboutUs'>About</a></li>
                <li class="nav-item">
                    <a class="nav-link">
                        <div class="dropdown">
                            <a class="dropbtn">Categories</a>
                            <div class="dropdown-content">
                                <a (click)="onEntertainment()" id="Entertainment">Entertainment</a>
                                <a (click)="onGaming()" id="Gaming">Gaming</a>
                                <a (click)="onTechnology()" id="Technology">Technology</a>
                                <a (click)="onAuto()" id="Auto">Auto</a>
                                <a (click)="onBooks()" id="Books">Books</a>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink='/CreatePost'>Create post</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->